<%= render 'layouts/shared/navbar_top', title: 'Edit Profile', icon: 'user-circle' %>

<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <div class='card my-2 text-xs-center profile__card'>
        <div class='card-block'>
          <%= image_tag 'default_avatar.jpg',
            class: 'card-img-top my-2 rounded profile__img', alt: 'card image cap' %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="form-group row <%= display_devise_has_danger(:first_name) %>">
              <%= f.label :first_name %><br/>
              <%= f.text_field :first_name, class: 'form-control auth__input pl-0' , autofocus: true %>
              <%= display_devise_form_control_feedback(:first_name) %>
            </div>

            <div class="form-group row <%= display_devise_has_danger(:last_name) %> %>">
              <%= f.label :last_name %><br/>
              <%= f.text_field :last_name, class: "form-control auth__input pl-0", autofocus: true %>
              <%= display_devise_form_control_feedback(:last_name) %>
            </div>

            <div class='form-group mt-2'>
              <%= f.submit 'update', class: 'btn btn-outline-secondary text-uppercase' %>
              <%= link_to 'Change your password', edit_password_users_path,
                class: 'btn btn-outline-secondary mt-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
