<%= render 'layouts/shared/navbar_top', title: 'Edit Profile' %>
<div class ='user__container'>
  <div class='container'>
    <div class="row">
      <div class="col-xs-12">
        <div class='card my-2 text-xs-center profile__card'>
          <div class='card-block'>

            <%= image_tag @user.avatar.url(:thumb),
              class: 'card-img-top my-2 rounded profile__img', alt: 'card image cap' %>
            <div class='loading__piano-conatiner hide-loading'>
              <div class='loading__piano-bar-1'></div>
              <div class='loading__piano-bar-2'></div>
              <div class='loading__piano-bar-3'></div>
            </div>
            <%= form_tag(upload_avatar_user_path(@user), id: 'avartar-form') do %>
              <div class='mb-1'>
                <%= label_tag 'user[avatar]', class: 'profile__avatar-label' do %>
                  <%= fa_icon('cloud-upload') %> Upload Avatar
                <% end %>
                <%= file_field_tag 'user[avatar]', class: 'profile__file' %>
                <div class='avatar__error'></div>
              </div>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <% end %>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="form-group row <%= display_devise_has_danger(:first_name) %>">
                <%= f.label :first_name %><br/>
                <%= f.text_field :first_name, class: 'form-control auth__input pl-0' , autofocus: true %>
                <%= display_devise_form_control_feedback(:first_name) %>
              </div>

              <div class="form-group row <%= display_devise_has_danger(:last_name) %> %>">
                <%= f.label :last_name %><br/>
                <%= f.text_field :last_name, class: "form-control auth__input pl-0", autofocus: true %>
                <%= display_devise_form_control_feedback(:last_name) %>
              </div>

              <div class='form-group mt-2'>
                <%= f.submit 'update', class: 'btn btn-outline-secondary text-uppercase' %>
                <%= link_to 'Change your password', edit_password_user_path(@user),
                  class: 'btn btn-outline-secondary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
