<nav class='navbar navbar-light top-navbar no-radious'>
  <div class='row'>
    <div class='col-xs-3 top-nav__icon'>
      <nav class="navbar p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="collapse menu__col" id="navbarResponsive">
        <div>
          <% if current_user %>
            <div><a class='navbar__list link--white-action' href="<%= new_problem_path %>"><%= fa_icon('link fw') %> ACE-IT</a></div>
            <div><a class='navbar__list link--white-action' href="<%= profile_path %>"><%= fa_icon('user-circle fw') %> Profile</a></div>
            <div>
              <a class='navbar__list link--white-action'
                href="http://uscthirdspace.com/" target="_blank">
                <%= fa_icon('info-circle fw') %> About
              </a>
            </div>
            <div><a class='navbar__list link--white-action' rel='nofollow' data-method='delete' href='/users/sign_out'><i class='fa fa-sign-out fa-fw'></i> Logout</a></div>
          <% end %>
          <% if !current_user %>
            <div><a class='navbar__list link--white-action' href="<%= new_user_session_path %>"><%= fa_icon('link fw') %> ACE-IT</a></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class='col-xs-6 text-xs-center px-0'>
      <span class='top-nav__title ellipsis-text'>
        <%= title == 'Thinking' ? '360° Thinking' : title.titleize %>
      </span>
    </div>

    <div class='col-xs-3'>
      <% if current_user %>
        <a class="btn btn-sm top-nav__button link--white-action" href="<%= problems_path %>">
          Feed
        </a>
      <% end %>
    </div>
  </div>
</nav>
