<nav class='navbar navbar-light top-navbar'>
  <div class='row'>
    <div class='col-xs-3 top-nav__icon'>
      <button class='navbar-toggler hidden-lg-up'
              type='button' data-toggle='collapse'
              data-target="#navbarResponsive"
              aria-controls='navbarResponsive'
              aria-expanded='false' aria-label='Toggle navigation'>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class='collapse navbar-toggleable-xs menu__col' id='navbarResponsive'>
        <ul class='nav navbar-nav navbar__menu'>
        <% if current_user %>
          <li class='nav-item'><a class='navbar__list link--white-action' href="<%= new_problem_path %>"><%= fa_icon('link') %> ACE-IT</a></li>
          <li class='nav-item'><a class='navbar__list link--white-action' href="<%= profile_path %>"><%= fa_icon('user-circle') %> Profile</a></li>
          <li class='nav-item'><a class='navbar__list link--white-action' rel='nofollow' data-method='delete' href='/users/sign_out'><i class='fa fa-sign-out'></i> Logout</a></li>
        <% end %>
        <% if !current_user %>
          <li class='nav-item'><a class='navbar__list link--white-action' href="<%= new_user_session_path %>"><%= fa_icon('link') %> ACE-IT</a></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class='col-xs-6 text-xs-center px-0'>
      <span class='top-nav__title ellipsis-text'><%= title.titleize %></span>
    </div>

    <div class='col-xs-3'>
      <% if current_user %>
        <a class="btn btn-sm top-nav__button link--white-action" href="<%= problems_path %>">
          Feed
        </a>
      <% end %>
    </div>
  </div>
</nav>
