<nav id="next-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="display: none;">
  <div class="row">
    <div class="col-xs">
      <center><%= link_to 'Next', view_problems_path(@problem.id, 'next'), class: 'btn btn-link' %></center>
    </div>
  </div>
</nav>
<nav id="aceit-bar" class="navbar navbar-fixed-bottom navbar-light bg-inverse">
  <div class="row">
    <div class="col-xs" style="padding-left: 5px; padding-right: 5px;">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'adaptability') %>" class='aceit-link navbar-text btn btn-outline-primary <%= 'active' if request.fullpath.include? 'adaptability' %>'>A</a>
      </center>
    </div>
    <div class="col-xs" style="padding-left: 5px; padding-right: 5px;">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'cultural_competence') %>" class='aceit-link navbar-text btn btn-outline-success <%= 'active' if request.fullpath.include? 'cultural' %>'>C</a></center>
    </div>
    <div class="col-xs" style="padding-left: 5px; padding-right: 5px;">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'empathy') %>" class='aceit-link navbar-text btn btn-outline-info <%= 'active' if request.fullpath.include? 'empathy' %>'>E</a></center>
    </div>
    <div class="col-xs" style="padding-left: 5px; padding-right: 5px;">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'intellectual_curiosity') %>" class='aceit-link navbar-text btn btn-outline-warning <%= 'active' if request.fullpath.include? 'intellectual' %>'>I</a></center>
    </div>
    <div class="col-xs" style="padding-left: 5px; padding-right: 5px;">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'thinking') %>" class='aceit-link navbar-text btn btn-outline-danger <%= 'active' if request.fullpath.include? 'thinking' %>'>T</a>
      </center>
    </div>
  </div>
</nav>
