<nav id="result-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="display: none;">
  <a class="collapsed" data-toggle="collapse" href="#result-textarea" aria-expanded="false" aria-controls="result-textarea">
    <span class="pull-right"><%= fa_icon 'chevron-down', id: 'result-icon' %></span>
    <span id="result-head-input">What is your expected result?</span>
  </a>
</nav>
<nav id="next-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="display: none;">
  <div class="row">
    <div class="col-xs">
      <center><%= link_to @page == 'thinking' ? 'Complete' : "Continue to #{Input.next_lens(@page).titleize.humanize}", view_problems_path(@problem.id, @page == 'thinking' ? 'next' : Input.next_lens(@page)), class: 'btn btn-link' %></center>
    </div>
  </div>
</nav>
<nav id="tools-bar" class="navbar navbar-fixed-bottom navbar-light bg-inverse">
  <div class="row">
    <div class="col-xs aceit-button">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'adaptability') %>" class='aceit-link navbar-text btn btn-outline-primary <%= 'active' if request.fullpath.include? 'adaptability' %>'>A</a>
      </center>
    </div>
    <div class="col-xs aceit-button">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'cultural_competence') %>" class='aceit-link navbar-text btn btn-outline-success <%= 'active' if request.fullpath.include? 'cultural' %>'>C</a></center>
    </div>
    <div class="col-xs aceit-button">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'empathy') %>" class='aceit-link navbar-text btn btn-outline-info <%= 'active' if request.fullpath.include? 'empathy' %>'>E</a></center>
    </div>
    <div class="col-xs aceit-button">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'intellectual_curiosity') %>" class='aceit-link navbar-text btn btn-outline-warning <%= 'active' if request.fullpath.include? 'intellectual' %>'>I</a></center>
    </div>
    <div class="col-xs aceit-button">
      <center>
      <a href="<%= view_problems_path(@problem.id, 'thinking') %>" class='aceit-link navbar-text btn btn-outline-danger <%= 'active' if request.fullpath.include? 'thinking' %>'>T</a>
      </center>
    </div>
  </div>
</nav>
