<%- like_show_text = 'Like' %>
<%- like_css = 'disabled-link' %>
<% if current_user %>
  <%- like_show_text = can_upvote?(current_user.id, problem.id) ? 'Like' : 'Liked' %>
  <%- like_css = can_upvote?(current_user.id, problem.id) ? '' : 'disabled-link' %>
<% end %>

<div class='mb-2 problem__action-group text-xs-center'>
  <% if show_problem_actions?(problem.user) %>
    <%= link_to edit_problem_path,
        class: 'btn btn-sm problem__button problem__btn--edit link--white-action' do %>
      <%= fa_icon('edit') %>
    <% end %>
    <%= link_to problem_path, method: :delete,
      data: { confirm: 'Are you sure?'},
      class: 'btn btn-sm problem__button problem__btn--destroy link--white-action' do %>
      <%= fa_icon('trash-o') %>
    <% end %>
  <% end %>

  <%= link_to upvote_problem_path(problem), method: :post,
    class: "btn btn-sm problem__button problem__btn--like link--white-action #{like_css}" do %>
    <%= fa_icon('thumbs-o-up') %> <%= like_show_text %>
  <% end %>

  <button type='button' id='buttonShareModal'
          class='btn btn-sm problem__btn--share problem__button'
          data-toggle='modal' data-target='#shareModal'>
    <%= fa_icon('share-alt') %> Share
  </button>
</div>
