<div class='px-2 py-2 mb-2'>
  <div>
    <span class='review__title'>Problem</span>
    <a id='edit-problem' href="<%= edit_problem_path(@problem.id) %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__edit-button') %>
    </a>
  </div>
  <p><%= @problem.name %></p>
</div>
<div class='px-2 mb-2'>
  <div>
    <span class='review__title'>360 Degree Thinking</span>
    <a id='edit-thinking' href="<%= lenses_problem_path(@problem.id, 'thinking') %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__edit-button') %>
    </a>
  </div>
  <p><%= @problem.thinking %></p>
</div>
