<div class='modal fade' id='shareModal' tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-sm' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title d-inline' id='shareModalLabel'>Share Problem</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='shared__title'>Via Email:</div>
        <%= form_tag(share_by_email_problem_path(problem), method: :post, remote: true, id: 'problem-form__share--email') do %>
          <input type='email' name='problem[email]' id='problem__share--receiver-email' class='form-control'></input>
          <%= submit_tag 'Send', disabled: true,
            class: 'btn btn--third-space btn--radius-4 shared__button',
            id: 'problem__share-btn--email', data: { disable_with: 'Sharing' } %>
        <% end %>

        <div class='shared__title'>Via Facebook:</div>
        <div class="btn btn--facebook"
             onclick="shareToFacebook('<%= problem_url(@problem) %>', '<%=@problem.name%>',
                                      '<%=@problem.thinking%>')">
          <%= fa_icon('facebook') %> Facebook
        </div>

        <div class='shared__title'>Via Twitter:</div>
        <div class="btn btn--twitter"
             onclick="shareToTwitter('<%= problem_url(@problem) %>', '<%=@problem.name%>')">
          <%= fa_icon('twitter') %> Twitter
        </div>
      </div>
    </div>
  </div>
</div>
