<div id="tipOverlay" class="tip__overlay">
  <div class="tip__overlay-content">
    <div id="carouselTipIndicators" class="carousel slide" data-ride="carousel"
      data-interval="false">
      <ol class="carousel-indicators tip__carousel-indicators">
        <% tips.each_with_index do |tip, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"
            class="<%='active' if index == 0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% tips.each_with_index do |tip, index| %>
          <div class="carousel-item tip__carousel-item <%='active' if index == 0 %>">
            <h5>EXAMPLE <%= index+1 %></h5>
            <%= tip %>
          </div>
        <%end%>
      </div>
    </div>
  <button type="button" onclick="closeTip()" class="close tip__close-button">
    <span class="white" aria-hidden="true">&times;</span>
  </button>
</div>
