<nav id="adapt-panel" class="navbar navbar-full navbar-light bg-primary">
  <button type="button" class="close" aria-label="Close">
    <a style="color: white;" href="<%= problem_path(page: 'new') %>"><span aria-hidden="true">&times;</span></a>
  </button>
  <span class="nav-item" style="color: white;"><%= image_tag('adaptability_icon.svg', width: 30) %> Adaptability</span>
</nav>
<%= image_tag("adapt.jpg", class: 'w-100') %>
<%= render "problems/solution_form" %>
<%#= link_to "Next", problem_path(page: 'cultural'), class: 'btn btn-link btn-block' %>
<%= render "problems/active_bar" %>
