<%= render 'top_bar', title: 'TST DISCUSS', icon: '' %>

<section class="problem__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <div class="row">
            <div class="col-xs-12 ">
              <div class="problem__box problem__discuss-group">
                <div class="problem__title">
                  <%= @problem.name.presence || 'Untitled' %>
                </div>
                <div class="problem__degree-thinking">
                  <%= @problem.get_lense_value('thinking') %>
                </div>
              </div>
              <div class="comment__group">
                <h6 class="comment-title">COMMENTs</h6>
                <% @problem.comments.each do |comment| %>
                  <div class="comment__message">
                    <%= comment.user.email %>: <%= comment.description %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="comment__form">
  <%= form_tag '/comments', method: :post do %>
    <%= text_field_tag 'comment[description]', '', placeholder: 'Add comment here',
      class: 'form-control comment__input' %>
    <%= hidden_field 'comment', 'problem_id', :value => @problem.id %>
    <%= hidden_field 'comment', 'user_id', :value => current_user.id %>
    <%= submit_tag 'POST', class: 'comment__send-button' %>
  <% end %>
</div>
