<%= render 'top_bar', title: 'TST APP', icon: 'bell-o' %>

<%= form_for @problem, html: {id:"problem-form"} do |f| %>
  <div class="card-header" role="tab" id="new-problem-head">
      <span id="new-problem-head-input">What is your problem name?</span>
    </a>
  </div>
  <div id="new-problem-textarea" role="tabpanel" aria-labelledby="new-problem-head">
    <%= f.hidden_field :id %>
    <div class="form-group">
      <%= f.text_area :name, id:"new-problem-input", class:"form-control", rows:"20", placeholder:"Write problem name here" %>
    </div>
  </div>
<% end %>
<nav id="next-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <div class="row">
    <div class="col-xs">
      <center><%= button_tag 'Next', class: 'btn btn-link', id: 'next_link' %></center>
    </div>
  </div>
</nav>

<script type="text/javascript">
var id = <%= @problem.id %>;
</script>
