<nav class="navbar navbar-light" style="background-color: #fe4153; color: white;">
 <div class="row">
    <div class="col-xs" style="padding-right: 0px;">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a style="color: white;" class="nav-link" href="<%= root_path %>"><%= fa_icon('home') %> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"><a style="color: white;" class="nav-link" href="#"><%= fa_icon('link') %> ACEIT</a></li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs" style="padding: 0px;"><center><span class="navbar-text"><b>TST APP</b></span></center></div>
    <div class="col-xs" style="padding-left: 0px;"><span class="navbar-text pull-right"><i class="fa fa-bell-o fa-lg"></i></span></div>
  </div>
</nav>

<%= image_tag(@problem.image(:medium), class: 'w-100') %>
<div class="card-header" role="tab" id="new-problem-head" style="margin-top: 2px;">
  <a class="collapsed" data-toggle="collapse" href="#new-problem-textarea" aria-expanded="false" aria-controls="new-problem-textarea">
    <span class="pull-right"><%= fa_icon('chevron-down') %></span>
    <span id="new-problem-head-input" style="text-decoration: none;">Write problem name here</span>
  </a>
</div>
<div id="new-problem-textarea" class="collapse" role="tabpanel" aria-labelledby="new-problem-head">
  <%= form_for @problem, html: {id:"problem-form"} do |f| %>
    <%= f.hidden_field :id %>
    <%= f.file_field :image, id:"image-upload", style:"display: none;", accept:"image/*" %>
    <div class="form-group">
      <%= f.text_area :name, style:"border-radius: 0px;", id:"new-problem-input", class:"form-control", rows:"20", placeholder:"Write problem name here" %>
    </div>
  <% end %>
</div>
<nav id="next-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="display: none;">
  <div class="row">
    <div class="col-xs">
      <center><%= button_tag 'Next', class: 'btn btn-link', id: 'next_link' %></center>
    </div>
  </div>
</nav>
<nav id="tools-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="background-color: #fe4153; color: white;">
  <div class="row">
    <div class="col-xs"><center><i id="computer" class="fa fa-image fa-lg"></i></center></div>
    <div class="col-xs"><center><i id="camera" class="fa fa-camera fa-lg"></i></center></div>
  </div>
</nav>

<script type="text/javascript">
var id = <%= @problem.id %>;
</script>
