<nav id="empathy-panel" class="navbar navbar-full navbar-light bg-info">
  <button type="button" class="close" aria-label="Close">
    <a style="color: white;" href="<%= problem_path(page: 'new') %>"><span aria-hidden="true">&times;</span></a>
  </button>
  <span class="nav-item" style="color: white;"><%= image_tag('empathy_icon.svg', width: 30) %> Empathy</span>
</nav>
<%= image_tag("empathy.jpg", class: 'w-100') %>
<%= render "problems/solution_form" %>
<%#= link_to "Next", problem_path(page: 'intellectual'), class: 'btn btn-primary btn-block' %>
<%= render "problems/active_bar" %>
