<%- title = params[:stream] == 'all' ? 'Public Feed' :  'My Feed' %>
<%= render 'layouts/shared/navbar_top', title: title %>
<%= render 'layouts/shared/flash_messages' %>
<center>
  <div class="btn-group problem-filters mt-1" role="group" aria-label="Basic example">
    <a href="<%= problems_path %>" class="btn btn-sm problem__select-feed-btn<%= '--active' if params[:stream] != 'all' %>">
      <%= fa_icon('user-circle') %> My
    </a>
    <a href="<%= problems_path(stream: 'all') %>" class="btn btn-sm problem__select-feed-btn<%= '--active' if params[:stream] == 'all' %>">
      <%= fa_icon('th-large') %> All
    </a>
  </div>
</center>

<section class="problem__wrapper--feed">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <h3>Latest Problems</h3>
          <div class="row">
            <% @problems.each do |problem| %>
              <%- id = problem.id %>
              <%- asset_index = id.to_i % Problem::LENSES.length %>
              <%- image_index = (id.to_i % ProblemsController::TEXTURE_IMAGE_AMOUNT) + 1 %>
              <%= render 'problems/problem', problem: problem,
                image_index: image_index, asset_index: asset_index %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= will_paginate @problems, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    class: 'pagination__button'%>
</section>

<%= link_to "Create New", new_problem_path('new'),
  class: 'btn btn-block btn--third-space btn--fixed-bottom' %>
