<%= render 'navbar_top', title: 'TST Stream', icon: '' %>

<center>
  <div class="btn-group problem-filters" role="group" aria-label="Basic example">
    <a href="<%= problems_path %>" class="btn btn-sm btn-outline-danger <%= 'active' if params[:stream] != 'all' %>">
      <%= fa_icon('user-circle') %> My
    </a>
    <a href="<%= problems_path(stream: 'all') %>" class="btn btn-sm btn-outline-danger <%= 'active' if params[:stream] == 'all' %>">
      <%= fa_icon('th-large') %> All
    </a>
  </div>
</center>

<section class="problem__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <h3>Latest Problems</h3>
          <div class="row">
            <% @problems.each_with_index do |problem, index| %>
              <%- assetIndex = index % 5 %>
              <div class="col-xs-12 ">
                <a href="<%= problem_path(problem.id) %>">
                  <div class="problem__box problem__<%= Problem::LENSES[assetIndex]%>">
                    <div class="problem__title-wrapper">
                      <div class="problem__title problem__title-<%= Problem::LENSES[assetIndex]%>">
                        <%= problem.name.presence || 'Untitled' %>
                      </div>
                    </div>
                    <div class="problem__degree-thinking">
                      <%= problem.thinking %>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= will_paginate @problems, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= link_to "Create New", new_problem_path('new'), class: 'btn btn-success btn-block btn-square' %>
