<nav id="adapt-panel" class="navbar navbar-full navbar-light bg-primary">
  <span class="nav-item white"><%= image_tag("#{@page}_icon.svg", width: 30) %> <%= @page.humanize.titleize %></span>
</nav>
<%= image_tag("#{@page}.jpg", class: 'w-100') %>
<%= render "problems/solution_form" %>
<%= render "problems/active_bar" %>
