<nav id="adapt-panel" class="navbar navbar-full navbar-light bg-primary">
  <span class="nav-item white"><%= image_tag("#{@page}_icon.svg", width: 30) %> <%= @page.humanize.titleize %></span>
</nav>
<div class="image-aceit">
  <%= image_tag(@problem.image.present? ? @problem.image(:medium) : "#{@page}.jpg", class: 'w-100') %>
  <div class="aceit-overlay">
    <%= image_tag("#{@page}_icon.svg") %>
  </div>
</div>
<%= render "problems/solution_form" %>
<%= render "problems/active_bar" %>
