<nav id="adapt-panel" class="navbar navbar-full navbar-light bg-primary">
  <span class="nav-item white"><%= image_tag("#{@lense}_icon.svg", width: 30) %> <%= @lense.humanize.titleize %></span>
  <a class="white float-xs-right" href="<%= problems_path %>">
    <%= fa_icon('home 2x') %>
  </a>
</nav>
<div class="image-aceit">
  <%= image_tag("#{@lense}.jpg", class: 'w-100') %>
  <div class="aceit-overlay">
    <%= image_tag("#{@lense}_icon.svg") %>
  </div>
</div>

<%= form_tag update_lense_problem_path(@problem), method: :put do %>
  <div class="card-header" role="tab" id="solution-head">
    <a class="collapsed" data-toggle="collapse" href="#solution-textarea" aria-expanded="false" aria-controls="solution-textarea">
      <span class="pull-right"><%= fa_icon 'chevron-down', id: 'solution-icon' %></span>
      <span id="solution-head-input">What is a solution through this lens?</span>
    </a>
  </div>
  <div id="solution-textarea" class="input-textarea collapse" role="tabpanel" aria-labelledby="solution-head">
    <div class="form-group">
      <textarea id="solution-input" name="problem[<%= @lense %>]" class="form-control" placeholder="Write solution here" rows="20"><%= @problem.send(@lense) %></textarea>
    </div>
  </div>

  <nav id="next-bar" class="navbar navbar-fixed-bottom navbar-light bg-faded" style="display: none;">
    <div class="row">
      <div class="col-xs">
        <%= hidden_field 'problem', 'id', value: current_user.id %>
        <%= hidden_field 'problem', 'lense', value: @lense %>
        <center><%= submit_tag @lense == 'thinking' ? 'Complete' : "Continue to #{Problem.next_lens(@lense).titleize.humanize}", class: 'btn btn-link' %></center>
      </div>
    </div>
  </nav>
<% end %>

<%= render 'problems/navbar_bottom' %>
