<%= render 'layouts/shared/navbar_top', title: "#{@lens.to_s.humanize}" %>

<div class='lens__container'>
  <div class='lens__banner'>
    <div class='lens__banner-text'>
      <%= @intro_text %>
    </div>
    <div class="btn btn-sm problem__review-problem"
         onclick="openTip('problemOverlay')">Review Progress</div>
    <div class='tip__icon shake' onclick="openTip('tipOverlay')"></div>
  </div>

  <%= form_tag update_lens_problem_path(@problem), method: :put do %>
    <div class='card-header' role='tab' id='solution-head'>
      <span id='solution-head-input' class='problem__question-header'>
        <%= @lens == 'thinking'? 'What is your final 360° Thinking solution?': 'What is your solution through this lens?' %>
      </span>
    </div>
    <div id='solution-textarea' class='input-textarea'>
      <div>
        <textarea id='solution-input'
                  name='problem[<%= @lens %>]'
                  class='form-control ace-it'
                  placeholder='Keep this to ~200 characters. Try to complete in fewer than 3 minutes.'
                  rows='8'><%= @problem.send(@lens) %></textarea>
      </div>
    </div>
    <div>
      <%= hidden_field 'problem', 'id', value: current_user.id %>
      <%= hidden_field 'problem', 'lens', value: @lens %>
      <%= submit_tag get_lens_submit_text(@lens), id: 'next-bar',
        class: 'btn btn-block btn-lg btn--third-space lens__btn--submit',
        disabled: true %>
    </div>
  <% end %>
</div>
<%= render 'problems/navbar_bottom' %>
<%= render 'problems/tip', tips: @tips %>
<%= render 'problems/review_problem' %>
