<%= render 'layouts/shared/navbar_top', title: "#{@lense.to_s.humanize}"%>

<div>
  <div class='lense__banner'>
    <div class='lense__banner-text'>
      <%= @intro_text %>
    </div>
    <div class='tip__icon' onclick="openTip()"></div>
  </div>

  <%= form_tag update_lense_problem_path(@problem), method: :put do %>
    <a class='toggle-link collapsed' data-toggle='collapse' href='#solution-textarea' aria-expanded='false' aria-controls='solution-textarea'>
      <div class='card-header' role='tab' id='solution-head'>
        <span class='pull-right'><%= fa_icon 'chevron-down', id: 'solution-icon' %></span>
        <span id='solution-head-input'>
          <%= @lense == 'thinking'? 'What is your 360 Degree Thinking?': 'What is your solution through this lens?' %>
        </span>
      </div>
    </a>
    <div id='solution-textarea' class='input-textarea collapse' role='tabpanel' aria-labelledby='solution-head'>
      <div class='form-group pb-3'>
        <textarea id='solution-input'
                  name='problem[<%= @lense %>]'
                  class='form-control ace-it'
                  placeholder='Keep this to ~200 characters. Try to complete in less than 3 minutes.'
                  rows='20'><%= @problem.send(@lense) %></textarea>
      </div>
    </div>
    <div>
      <%= hidden_field 'problem', 'id', value: current_user.id %>
      <%= hidden_field 'problem', 'lense', value: @lense %>
      <%= submit_tag get_lense_submit_text(@lense), id: 'next-bar',
        class: 'btn btn-block btn--fixed-bottom btn--third-space btn__submit',
        disabled: true, style: 'display: none;'%>
    </div>
  <% end %>
</div>
<%= render 'problems/navbar_bottom' %>
<%= render 'problems/tip', tips: @tips %>
