<%= render 'layouts/shared/navbar_top', title: 'TST PROBLEM', icon: '' %>

<%= form_for @problem, html: {id:'problem-form'} do |f| %>
  <div id='problem-container'>
    <div class='card-header lense__header' role='tab' id='new-problem-head'>
      <span id='new-problem-head-input'>What is your problem name?</span>
      <div class='tip__icon tip__icon--problem' onclick='openTip()' ></div>
    </div>

    <div id='new-problem-textarea' role='tabpanel' aria-labelledby='new-problem-head'>
      <div class='form-group'>
        <%= f.text_area :name, id:'new-problem-input', class:'form-control',
          rows:'18', placeholder:'Write problem name here' %>
      </div>
    </div>
    <%= submit_tag 'Next', class: 'btn btn-block btn--third-space btn--fixed-bottom',
      id: 'submit-problem-btn' %>
  </div>
<% end %>

<%= render 'problems/tip', tips: @tips %>
