<%= render 'layouts/shared/navbar_top', title: 'New Problem' %>
<div>
  <div class='lens__banner'>
    <div class='lens__banner-text'>
      <%= @intro_text %>
    </div>
    <div class="btn btn-sm problem__review-problem"
         onclick="openTip('problemOverlay')">Review Feed</div>
    <div class='tip__icon shake' onclick="openTip('tipOverlay')" ></div>
  </div>
  <%= render 'problems/problem_form', button_name: "Next" %>
</div>
<%= render 'problems/tip', tips: @tips %>
<%= render 'problems/review_problem' %>
