<%= render 'layouts/shared/navbar_top', title: 'Review' %>

<div class='p-2'>
  <div>
    <span class='review__title'>Problem</span>
    <a id='edit-problem' href="<%= edit_problem_path(@problem.id) %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__button--edit') %>
    </a>
  </div>
  <p><%= @problem.name %></p>
</div>

<div class='px-2 pb-2'>
  <div>
    <span class='review__title'>360 Degree Thinking</span>
    <a id='edit-thinking' href="<%= lenses_problem_path(@problem.id, 'thinking') %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__button--edit') %>
    </a>
  </div>
  <p><%= @problem.thinking %></p>
</div>

<div>
  <%= link_to 'View Feed', problems_path, class: 'btn review__button--bottom btn--center' %>
</div>
