<nav class="navbar navbar-light" style="background-color: #fe4153;">
  <span class="navbar-brand" style="color: white;">Review</span>
</nav>

<div class="card-block">Here is "Your Statement of Photo" again</div>

<%= image_tag("thirdspace.jpg", class: 'w-100') %>
<div class="card-header" role="tab" id="review-head" style="margin-top: 2px;">
  <a class="collapsed" data-toggle="collapse" href="#review-textarea" aria-expanded="false" aria-controls="review-textarea">
    <span class="pull-right"><%= fa_icon('chevron-down') %></span>
    <span id="review-head-input" style="text-decoration: none;">Use ACEIT to write one final solution</span>
  </a>
</div>
<div id="review-textarea" class="collapse" role="tabpanel" aria-labelledby="review-head">
  <form>
    <div class="form-group">
      <textarea style="border-radius: 0px;" id="review-input" class="form-control" placeholder="Write solution here" rows="20"></textarea>
    </div>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <div class="row">
    <div class="col-xs"><%= link_to "Go Back", view_problems_path(@problem.id, 'next'), class: 'btn btn-link' %></div>
    <div class="col-xs"><%= link_to "Next", problems_path, class: 'btn btn-link pull-right' %></div>
  </div>
</nav>

<script type="text/javascript">
var id = <%= @problem.id %>;
var lens = '<%= @page %>';
</script>
