<%= render 'layouts/shared/navbar_top', title: 'DISCUSSION' %>
<section class="problem__wrapper--discuss">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <div class="row">
            <div class="col-xs-12 ">
              <div class="problem__discuss-group">
                <div class="problem__box problem__<%=@lens%>"
                  style="background: url(<%= asset_url "textures/#{@image_index}.png"%>) ">
                  <div class="problem__title-wrapper">
                    <div class="problem__title">
                      <span class="problem__title--<%=@lens%>"><%= @problem.name.presence || 'Untitled' %></span>
                    </div>
                  </div>
                  <div class="problem__degree-thinking">
                    <p><%= @problem.thinking %></p>
                  </div>
                </div>
              </div>
              <% if show_problem_actions?(@problem.user) %>
                <div class='text-xs-center mb-2'>
                  <%= link_to edit_problem_path, class: 'btn problem__button' do %>
                    <%= fa_icon('edit') %> Edit
                  <% end %>
                  <%= link_to problem_path, method: :delete,
                    data: { confirm: 'Are you sure?'},
                    class: 'btn problem__button' do %>
                    <%= fa_icon('trash-o') %> Delete
                  <% end %>
                  <button type="button" class="btn problem__button" id="buttonShareModal"
                          data-toggle="modal" data-target="#shareModal">
                    <%= fa_icon('share-alt') %> Share
                  </button>
                </div>
              <% end %>
              <div class="comment__group">
                <h6 class="comment-title">COMMENTS</h6>
                <% @problem.comments.each do |comment| %>
                  <div class="comment__message">
                    <%= image_tag comment.user.avatar.url(:small),
                        class: 'comment__image d-inline' %>
                    <span class="comment__user-name"><%= comment.user.first_name %>:</span>
                    <span id="comment-id-<%= comment.id %>" ><%= comment.description %></span>

                    <% if show_problem_actions?(comment.user) %>
                      <%= link_to comment_path(comment.id), method: :delete,
                        data: { confirm: 'Are you sure?'},
                        class: 'btn btn-sm problem__button comment__delete-icon link--white-action' do %>
                        <%= fa_icon('trash-o') %>
                      <% end %>

                      <button type="button" class="btn btn-sm problem__button comment__edit-icon"
                              data-toggle="modal" data-target="#editModal"
                              data-comment-id="<%= comment.id %>" >
                        <%= fa_icon('edit') %>
                      </button>
                    <% end %>

                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='comment__form'>
  <%= form_tag '/comments', method: :post do %>
    <%= text_area_tag 'comment[description]', '', placeholder: 'Add comment here',
      class: 'form-control comment__input', rows: '5' %>
    <%= hidden_field 'comment', 'problem_id', :value => @problem.id %>
    <%= hidden_field 'comment', 'user_id', :value => current_user.id %>
    <%= submit_tag 'POST', class: 'comment__button--submit', disabled: true %>
  <% end %>
</div>

<%= render 'problems/comment_edit_modal' %>
<%= render 'problems/share_problem_modal', problem: @problem %>
