<%= render 'layouts/shared/navbar_top', title: 'DISCUSSION' %>

<section class="problem__wrapper--discuss">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <div class="row">
            <div class="col-xs-12 ">
              <%= render 'problems/problem_summary', problem: @problem,
                lens: @lens, image_index: @image_index %>
              <%= render 'problems/problem_action_bar', problem: @problem %>
              <%= render 'problems/problem_comment', problem: @problem %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'problems/problem_comment_form', problem: @problem %>
<%= render 'problems/comment_edit_modal' %>
<%= render 'problems/share_problem_modal', problem: @problem %>
