<%= render 'layouts/shared/navbar_top', title: 'DISCUSSTION', icon: '' %>

<section class="problem__wrapper--discuss">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="problem__contents">
          <div class="row">
            <div class="col-xs-12 ">
              <div class="problem__discuss-group">
                <div class="problem__box problem__<%=@lense%>"
                  style="background: url(<%= asset_url "textures/#{@image_index}.png"%>) ">
                  <div class="problem__title-wrapper">
                    <div class="problem__title">
                      <span class="problem__title--<%=@lense%>"><%= @problem.name.presence || 'Untitled' %></span>
                    </div>
                  </div>
                  <div class="problem__degree-thinking">
                    <%= @problem.thinking %>
                  </div>
                </div>
              </div>
              <div class="comment__group">
                <h6 class="comment-title">COMMENTS</h6>
                <% @problem.comments.each do |comment| %>
                  <div class="comment__message">
                    <%= comment.user.email %>: <%= comment.description %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='comment__form'>
  <%= form_tag '/comments', method: :post do %>
    <%= text_area_tag 'comment[description]', '', placeholder: 'Add comment here',
      class: 'form-control comment__input', rows: '5' %>
    <%= hidden_field 'comment', 'problem_id', :value => @problem.id %>
    <%= hidden_field 'comment', 'user_id', :value => current_user.id %>
    <%= submit_tag 'POST', class: 'btn__submit', disabled: true %>
  <% end %>
</div>
