<nav class='navbar navbar-light top-navbar'>
  <span class='navbar-brand'>Review</span>
</nav>

<div class='px-2 my-2'>
  Congrats, you have completed the workflow.
</div>
<div class='px-2 mb-2'>
  <div>
    <span class='review__title'>Problem</span>
    <a id='edit-problem' href="<%= edit_problem_path(@problem.id) %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__edit-button') %>
    </a>
  </div>
  <p><%= @problem.name %></p>
</div>
<div class='px-2 mb-2'>
  <div>
    <span class='review__title'>360 Degree Thinking</span>
    <a id='edit-thinking' href="<%= lenses_problem_path(@problem.id, 'thinking') %>">
      <%= fa_icon('pencil-square-o lg', class: 'review__edit-button') %>
    </a>
  </div>
  <p><%= @problem.thinking %></p>
</div>
<nav class='navbar navbar-fixed-bottom navbar-light bg-faded'>
  <div class='row'>
    <div class='col-xs'>
      <%= link_to 'New Problem',new_problem_path('new'), class: 'btn btn-link' %>
    </div>
    <div class='col-xs'>
      <%= link_to 'View Feed', problems_path, class: 'btn btn-link pull-right' %>
    </div>
  </div>
</nav>
