<nav id="thinking-panel" class="navbar navbar-full navbar-light bg-danger">
  <button type="button" class="close" aria-label="Close">
    <a style="color: white;" href="<%= problem_path(page: 'new') %>"><span aria-hidden="true">&times;</span></a>
  </button>
  <span class="nav-item" style="color: white;"><%= image_tag('thinking_icon.svg', width: 30) %> 360&deg; Thinking</span>
</nav>
<%= image_tag("360.jpg", class: 'w-100') %>
<%= render "problems/solution_form" %>
<%= render "problems/active_bar" %>
