<%= render 'top_bar', title: 'TST Stream', icon: '' %>

<center>
<div class="btn-group problem-filters" role="group" aria-label="Basic example">
  <a href="<%= problems_path %>" class="btn btn-sm btn-outline-danger <%= 'active' if params[:stream] != 'all' %>">
    <%= fa_icon('user-circle') %> My
  </a>
  <a href="<%= problems_path(stream: 'all') %>" class="btn btn-sm btn-outline-danger <%= 'active' if params[:stream] == 'all' %>">
    <%= fa_icon('th-large') %> All
  </a>
</div>
</center>

<div class="row problems-grid">
  <% @problems.each do |problem| %>
  <div class="col-xs-6">
    <div class="card">
      <%= image_tag(problem.image.present? ? problem.image(:thumbnail) : 'thirdspace.jpg' , class: 'card-img-top w-100') %>
      <div class="card-block">
        <h6 class="card-title"><%= problem.name.presence || 'Untitled' %></h6>
        <p class="card-text small">Some quick example text.</p>
        <a href="<%= view_problems_path(problem.id, 'adaptability') %>" class="btn btn-primary btn-sm btn-block white">View</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= will_paginate @problems, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%= link_to "Create New", new_problem_path('new'), class: 'btn btn-success btn-block btn-square' %>

