<div class="row">
  <div class="col-xs">
    <h4>TST Stream</h4>
  </div>
  <div class="col-xs">
    <div class="btn-group pull-right" role="group" aria-label="Basic example">
      <a href="<%= problem_path(page: 'tst_stream') %>" class="btn btn-sm btn-outline-primary <%= 'active' if params[:stream] != 'all' %>">
        <%= fa_icon('user-circle') %> My
      </a>
      <a href="<%= problem_path(page: 'tst_stream', stream: 'all') %>" class="btn btn-sm btn-outline-primary <%= 'active' if params[:stream] == 'all' %>">
        <%= fa_icon('th-large') %> All
      </a>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs"><input type="text" class="form-control" placeholder="Search ..."></div>
</div>
<div class="row">
  <div class="col-xs">
    <div class="card">
      <%= image_tag("thirdspace.jpg", class: 'card-img-top w-100') %>
      <div class="card-block">
        <h6 class="card-title">My Title #1</h6>
        <p class="card-text small">Some quick example text.</p>
        <a href="#" class="btn btn-primary btn-sm btn-block">View</a>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="card">
      <%= image_tag("thirdspace.jpg", class: 'card-img-top w-100') %>
      <div class="card-block">
        <h6 class="card-title">My Title #2</h6>
        <p class="card-text small">Some quick example text.</p>
        <a href="#" class="btn btn-primary btn-sm btn-block">View</a>
      </div>
    </div>
  </div>
</div>
<% if params[:stream] == 'all' %>
  <div class="row">
    <div class="col-xs">
      <div class="card">
        <%= image_tag("thirdspace.jpg", class: 'card-img-top w-100') %>
        <div class="card-block">
          <h6 class="card-title">John's Title</h6>
          <p class="card-text small">Some quick example text.</p>
          <a href="#" class="btn btn-primary btn-sm btn-block">View</a>
        </div>
      </div>
    </div>
    <div class="col-xs"></div>
  </div>
<% end %>
<%= link_to "Create New", problem_path(page: 'new'), class: 'btn btn-default btn-block' %>

