<%= render 'layouts/shared/navbar_top', title: 'Edit Password' %>

<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <div class='card my-2 text-xs-center profile__card'>
        <div class='card-block'>
          <%= form_for(@user, url: update_password_user_path(@user)) do |f| %>

            <div class="form-group row <%= display_error(@user, :password) %>">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control auth__input pl-0',
                autocomplete: "off" %>
              <div class='auth__help-text pl-0'>
                6 characters minimum
              </div>
              <%= display_form_control_feedback(@user, :password) %>
            </div>

            <div class="form-group row <%= display_error(@user, :password_confirmation) %>">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, class: 'form-control auth__input pl-0',
                autocomplete: "off" %>
              <%= display_form_control_feedback(@user, :password_confirmation) %>
            </div>

            <div class="form-group row <%= display_error(@user, :current_password) %>">
              <%= f.label :current_password %><br/>
              <%= f.password_field :current_password, class: 'form-control auth__input pl-0',
                autocomplete: "off" %>
              <%= display_form_control_feedback(@user, :current_password) %>
            </div>

            <div class='form-group mt-3'>
              <%= f.submit 'update', class: 'btn btn-outline-secondary text-uppercase' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
