<%= render 'layouts/shared/navbar_top', title: 'Profile' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class='card my-2 text-xs-center profile__card'>
        <div class='card-block'>
          <%= image_tag current_user.avatar.url(:thumb),
            class: 'card-img-top my-2 rounded profile__img', alt: 'card image cap' %>
          <div>
            <h4><%= "#{current_user.first_name} #{current_user.last_name}" %></h4>
            <p class='profile__content--email'>
              <span class='font-weight-bold'>Email</span>: <%= current_user.email %>
            </p>
          </div>
        </div>
        <div class='mt-3'>
          <%= link_to 'edit profile', edit_user_registration_path, class: 'btn btn-outline-secondary text-uppercase' %>
        </div>
      </div>
    </div>
  </div>
</div>
