<div class='auth__container'>
  <%= image_tag 'moutain.jpg', class: 'auth__background'%>
  <div class='auth__form'>
    <div class='third-space__logo third-space__logo--white'></div>
    <h4 class="mb-1">Change your password</h4>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group <%= display_devise_has_danger(:password) %>">
        <%= fa_icon('lock', class: 'auth__icon') %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password',
            class: 'form-control auth__input' %>
        <%= display_devise_form_control_feedback(:password) %>
      </div>

      <div class="form-group <%= display_devise_has_danger(:password_confirmation) %>">
        <%= fa_icon('lock', class: 'auth__icon') %>
        <%= f.password_field :password_confirmation, autocomplete: 'off',
            placeholder: "Password Confirmation", class: 'form-control auth__input' %>
          <div class="auth__help-text">
            *at least 6 characters
          </div>
        <%= display_devise_form_control_feedback(:password_confirmation) %>
      </div>
      <%= f.submit "Change my password", class: 'btn btn--third-space btn-block'%>
    <% end %>
  </div>
</div>
