<div class="swiper-container welcome__swiper">
  <%= render 'layouts/shared/flash_messages' %>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="welcom__slider-caption">
        Welcome to TST intro wizard...#1
      </div>
    </div>
     <div class="swiper-slide">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="welcom__slider-caption">
        Welcome to TST intro wizard...#2
      </div>
    </div>
     <div class="swiper-slide">
      <%= image_tag("welcome1.jpg", class: 'w-100') %>
      <div class="welcom__slider-caption">
        Welcome to TST intro wizard...#3
      </div>
    </div>
  </div>
  <div class="swiper-pagination welcome__swiper-pagination"></div>
</div>
<%= link_to 'Skip', new_problem_path, class: 'btn btn-block btn--third-space btn--fixed-bottom' %>
