<!DOCTYPE html>
<html>
  <head>
    <title>Third Space Thinking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class='<%= "#{action_name} #{controller_name}" %>'>
    <!-- <nav class="navbar navbar-full navbar-light bg-faded">
      <a class="navbar-brand pull-right" href="<%= root_path %>">
        <%= image_tag('3s-logo.svg', width: 65) %>
      </a>
    </nav> -->
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible auth__error" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible auth__error" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
      <% end %>
      <% if devise_error_messages? %>
        <div class="alert alert-danger alert-dismissible auth__error" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= devise_error_messages! %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
